body {
    background-color: #121212;
}

h1 {
    color: #ffffff;
    margin: 36px auto;
}

h2 {
    font-size: larger;
    font-weight: bold;
    color: #ffffff;
    padding: 0 16px;
    margin-top: 24px;
}

h3 {
    font-size: medium;
    font-weight: bold;
    color: #ffffff;
    padding: 0 16px;
}

p {
    color: #DDDDDD;
}

.text {
    padding: 0 16px;
}

.btn {
    background-color: #36FF36;
    margin-bottom: 12px;
}

.btn:hover {
    background-color: #00CB00;
}

.contact-name {
    width: 90%;
    height: 40px;
}

.contact-mail {
    width: 90%;
    height: 40px;
}

.contact-body {
    width: 90%;
    /* height: 40px; */
}

.custom-component {
    width: 90%;
    height: 40px;
}

.errorlist {
    color: #FF9136;
}

.fa-twitter {
    font-size: 24px;
    color: #ffffff;
    padding: 0 16px;
}

.postID {
    color: #36FF36;
}

.postText {
    color: #ffffff;
    font-size: larger;
    margin: 8px 0;
}

.postDate {
    color: #ffffff;
}

hr {
    color: #DDDDDD;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0 16px;
}